body {
    background-color: #1f2234;
    color: #fff;
    margin: 0;
}

#app {
    /* text-align: center; */
    max-width: 900px;
    margin: auto;
}

#terminal-wrap {
    margin-top: 42px;
    border: 2px solid;
    /* padding: 12px 0; */
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ffffff1a;
    padding-top: 14px;
    margin-top: 32px;
}
hr {
    border-top: 1px solid #ffffff1a;
}

button {
    background-color: #ffffff1a;
    border: 1px solid #ffffff1a;
    color: #fff;
    padding: 8px 16px;
    margin-right: 6px;
    margin-bottom: 12px;
    border-radius: 4px;
    cursor: pointer;
}

input {
    background-color: #ffffff1a;
    border: 1px solid #ffffff1a;
    color: #fff;
    padding: 8px 16px;
    margin-right: 6px;
    margin-bottom: 12px;
    border-radius: 4px;
    cursor: pointer;
}
