body {
    background-color: #1f2234;
    color: #eee;
    margin: 0;
    font-family: Open Sans, sans-serif;
    padding-bottom: 240px;
}

a {
    color: #673ab7;
}
a:hover {
    color: #fff;
}

#app {
    max-width: 900px;
    margin: auto;
}

ol {
    padding: 0 0 0 24px;
    line-height: 2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#terminal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.box {
    border-radius: 14px;
    margin: 24px 0 0 0;
    padding: 6px 24px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #ddd;
    font-size: 16px;
    line-height: 1.5;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ffffff1a;
    padding: 14px 0;
    margin-top: 32px;
}
hr {
    border-top: 1px solid #ffffff1a;
}

button {
    background-color: #ffffff1a;
    border: 1px solid #ffffff1a;
    color: #fff;
    padding: 8px 16px;
    margin-right: 6px;
    margin-bottom: 12px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff2a;
}

input {
    background-color: #ffffff1a;
    border: 1px solid #ffffff1a;
    color: #fff;
    padding: 8px 16px;
    margin-right: 6px;
    margin-bottom: 12px;
    border-radius: 4px;
    cursor: pointer;
}
